<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>

                <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving">
                   
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Name') }} :</h6>
                        {{ item.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Address') }} :</h6>
                        {{ item.address }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('AuthorizedPerson') }} :</h6>
                        {{ item.authorizedPerson }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('ContactNo') }} :</h6>
                        {{ item.contactNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BusinessNature') }} :</h6>
                        {{ l(businessNatureEnum[item.businessNature]) }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('EstablishedYear') }} :</h6>
                        {{ item.establishedYear }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('CompanyCategory') }}) {{ l('Name') }} :</h6>
                        {{ item.companyCategoryName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('CompanyType') }}) {{ l('Name') }} :</h6>
                        {{ item.companyTypeName }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
