<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="form" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="id">{{ l('EditJobSkill') }}</span>
                        <span *ngIf="!id">{{ l('CreateNewJobSkill') }}</span>
                    </h4>

                    <button class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving">
                       
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="JobSkill_Name">{{ l('Name') }}</label>
                        <input
                            type="text"
                            #JobSkill_Name
                            id="JobSkill_Name"
                            class="form-control"
                            formControlName="name"
                        />
                        <validation-messages [formCtrl]="JobSkill_Name"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="JobSkill_Description">{{ l('Description') }}</label>
                        <input
                            type="text"
                            #JobSkill_Description
                            id="JobSkill_Description"
                            class="form-control"
                            formControlName="description" 
                        />
                        <validation-messages [formCtrl]="JobSkill_Description"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        class="btn btn-primary blue"
                        (click)="save()"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
            {{this.form.value|json}}
        </div>
    </div>
</div>
