<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="form" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="employment.id">{{ l('EditEmployment') }}</span>
                        <span *ngIf="!employment.id">{{ l('CreateNewEmployment') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving">
                       
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="CompanyName">{{ l('Company') }}</label>
                        <!-- <select formControlName="company" class="form-select">
                            <option value="">{{ l('SelectACompany') }}</option>
                            <option *ngFor="let item of allCompanys" value="{{ item.id }}">
                                {{ item.displayName }}
                            </option>
                        </select> -->
                       
                        <ng-select #CompanyName [items]="allCompanys" bindLabel="displayName" bindValue="id"
                        formControlName="companyId" id="companyId" placeholder="Select an item"
                        ></ng-select>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Total">{{ l('Total') }}</label>
                        <input
                            type="number"
                            #Employment_Total
                            id="Employment_Total"
                            class="form-control"
                            formControlName="total"
                        />
                        <validation-messages [formCtrl]="Employment_Total"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Male">{{ l('Male') }}</label>
                        <input
                            type="number"
                            #Employment_Male
                            id="Employment_Male"
                            class="form-control"
                            formControlName="male"
                        />
                        <validation-messages [formCtrl]="Employment_Male"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Female">{{ l('Female') }}</label>
                        <input
                            type="number"
                            #Employment_Female
                            id="Employment_Female"
                            class="form-control"
                            formControlName=""
                            formControlName="female"
                        />
                        <validation-messages [formCtrl]="Employment_Female"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Foreign">{{ l('Foreign') }}</label>
                        <input
                            type="number"
                            #Employment_Foreign
                            id="Employment_Foreign"
                            class="form-control"
                            formControlName="foreign"
                        />
                        <validation-messages [formCtrl]="Employment_Foreign"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Impairment">{{ l('Impairment') }}</label>
                        <input
                            type="number"
                            #Employment_Impairment
                            id="Employment_Impairment"
                            class="form-control"
                            formControlName="impairment"
                        />
                        <validation-messages [formCtrl]="Employment_Impairment"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_SalaryStart">{{ l('SalaryStart') }}</label>
                        <input
                            type="number"
                            #Employment_SalaryStart
                            id="Employment_SalaryStart"
                            class="form-control"
                            formControlName="salaryStart"
                        />
                        <validation-messages [formCtrl]="Employment_SalaryStart"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_SalaryEnd">{{ l('SalaryEnd') }}</label>
                        <input
                            type="number"
                            #Employment_SalaryEnd
                            id="Employment_SalaryEnd"
                            class="form-control"
                            formControlName="salaryEnd"
                        />
                        <validation-messages [formCtrl]="Employment_SalaryEnd"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_AgeStart">{{ l('AgeStart') }}</label>
                        <input
                            type="number"
                            #Employment_AgeStart
                            id="Employment_AgeStart"
                            class="form-control"
                            formControlName="ageStart"
                        />
                        <validation-messages [formCtrl]="Employment_AgeStart"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_AgeEnd">{{ l('AgeEnd') }}</label>
                        <input
                            type="number"
                            #Employment_AgeEnd
                            id="Employment_AgeEnd"
                            class="form-control"
                            formControlName="ageEnd"
                        />
                        <validation-messages [formCtrl]="Employment_AgeEnd"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Parment">{{ l('Parment') }}</label>
                        <input
                            type="number"
                            #Employment_Parment
                            id="Employment_Parment"
                            class="form-control"
                            formControlName="parment"
                        />
                        <validation-messages [formCtrl]="Employment_Parment"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Temporary">{{ l('Temporary') }}</label>
                        <input
                            type="number"
                            #Employment_Temporary
                            id="Employment_Temporary"
                            class="form-control"
                            formControlName="temporary"
                        />
                        <validation-messages [formCtrl]="Employment_Temporary"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_Trainer">{{ l('Trainer') }}</label>
                        <input
                            type="number"
                            #Employment_Trainer
                            id="Employment_Trainer"
                            class="form-control"
                            formControlName="trainer"
                        />
                        <validation-messages [formCtrl]="Employment_Trainer"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employment_DailyWages">{{ l('DailyWages') }}</label>
                        <input
                            type="number"
                            #Employment_DailyWages
                            id="Employment_DailyWages"
                            class="form-control"
                            formControlName="dailyWages"
                        />
                        <validation-messages [formCtrl]="Employment_DailyWages"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        (click)="save()"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                        [disabled]="!form.valid"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
            {{this.form.value|json}}
        </div>
    </div>
</div>
