<!-- <customizable-dashboard [dashboardName]="dashboardName"></customizable-dashboard> -->

<div [@routerTransition]>
    <sub-header [title]="'Dashboard' | localize" [description]="'DashboardHeaderInfo' | localize">
        <div role="actions" class="d-flex align-items-center">
           
        </div>
    </sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                
                <button type="button" class="btn btn-primary" (click)="openCreateOrEditModal()">
                   
                    <span>{{ l('CreateEmployee') }}</span>
                </button>



                </div>
        </div>
        </div>

    
</div>



