<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #employeeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="employee.id">{{ l('EditEmployee') }}</span>
                        <span *ngIf="!employee.id">{{ l('CreateNewEmployee') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving">
                       
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="JobSkillName">{{ l('JobSkill') }}</label>
                        <select
                            name="employee.jobSkillId"
                            [(ngModel)]="employee.jobSkillId"
                            class="form-select"
                            required
                        >
                            <option value="">{{ l('SelectAJobSkill') }}</option>
                            <option *ngFor="let item of allJobSkills" value="{{ item.id }}">
                                {{ item.displayName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Name">{{ l('Name') }}</label>
                        <input
                            type="text"
                            #Employee_Name="ngModel"
                            id="Employee_Name"
                            class="form-control"
                            [(ngModel)]="employee.name"
                            name="Name"
                        />
                        <validation-messages [formCtrl]="Employee_Name"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_PhoneNo">{{ l('PhoneNo') }}</label>
                        <input
                            type="text"
                            #Employee_PhoneNo="ngModel"
                            id="Employee_PhoneNo"
                            class="form-control"
                            [(ngModel)]="employee.phoneNo"
                            name="PhoneNo"
                        />
                        <validation-messages [formCtrl]="Employee_PhoneNo"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Gender">{{ l('Gender') }}</label>
                        <select
                            class="form-select"
                            #Employee_Gender="ngModel"
                            name="Gender"
                            id="Employee_Gender"
                            [(ngModel)]="employee.gender"
                        >
                            <option value="1">{{ l('Male') }}</option>

                            <option value="2">{{ l('Female') }}</option>

                            <option value="3">{{ l('Others') }}</option>
                        </select>
                        <validation-messages [formCtrl]="Employee_Gender"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Dbo">{{ l('Dbo') }}</label>
                        <input
                            required
                            class="form-control m-input"
                            #Employee_Dbo
                            type="datetime"
                            bsDatepicker
                            datePickerLuxonModifier
                            [(date)]="employee.dbo"
                            id="Employee_Dbo"
                            name="Employee_Dbo"
                        />
                        <validation-messages [formCtrl]="Employee_Dbo"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Experience">{{ l('Experience') }}</label>
                        <input
                            type="text"
                            #Employee_Experience="ngModel"
                            id="Employee_Experience"
                            class="form-control"
                            [(ngModel)]="employee.experience"
                            name="Experience"
                        />
                        <validation-messages [formCtrl]="Employee_Experience"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_Qualification">{{ l('Qualification') }}</label>
                        <input
                            type="text"
                            #Employee_Qualification="ngModel"
                            id="Employee_Qualification"
                            class="form-control"
                            [(ngModel)]="employee.qualification"
                            name="Qualification"
                        />
                        <validation-messages [formCtrl]="Employee_Qualification"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_ExpectedSalary">{{ l('ExpectedSalary') }}</label>
                        <input
                            type="number"
                            #Employee_ExpectedSalary="ngModel"
                            id="Employee_ExpectedSalary"
                            class="form-control"
                            [(ngModel)]="employee.expectedSalary"
                            name="ExpectedSalary"
                        />
                        <validation-messages [formCtrl]="Employee_ExpectedSalary"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Employee_CommitmentYear">{{ l('CommitmentYear') }}</label>
                        <input
                            type="number"
                            #Employee_CommitmentYear="ngModel"
                            id="Employee_CommitmentYear"
                            class="form-control"
                            [(ngModel)]="employee.commitmentYear"
                            name="CommitmentYear"
                        />
                        <validation-messages [formCtrl]="Employee_CommitmentYear"></validation-messages>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">{{ l('Photo') }}</span>
                            </div>
                            <div class="custom-file">
                                <input
                                    type="file"
                                    class="custom-file-input"
                                    id="Employee_Photo"
                                    name="Employee_Photo"
                                    aria-describedby="inputGroupFileAddon01"
                                    (change)="onSelectPhotoFile($event)"
                                    [accept]="photoFileAcceptedTypes"
                                />
                                <label class="custom-file-label" #Employee_PhotoLabel for="Employee_Photo">
                                    {{ l('ChooseAFile') }}
                                </label>
                            </div>
                        </div>

                        <div *ngIf="photoFileName" style="background-color: #e5e5e5; padding: 5px">
                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
                            <div class="alert alert-custom alert-white alert-bold m-1" role="alert">
                                <div class="alert-text">
                                    <a href="{{ getDownloadUrl(employee.photo) }}" target="_blank">
                                        {{ photoFileName }}
                                    </a>
                                </div>
                                <div class="alert-close">
                                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" (click)="removePhotoFile()">
                                            <i class="la la-close fa-1x"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!employeeForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
